body{
  background-color: #00FFF6;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  width: 50px;
}
h1{
  color:red;
}
h2{
  color:red;
}
